doctype html
html
  meta(charset='utf-8')
  script(src='/jspm_packages/system.js')
  script(src='/jspm.config.js')
  script(src='/bower_components/webcomponentsjs/webcomponents-hi-sd-ce.js')
  link(rel='stylesheet', href='/dist/layouts/index.css')
  block links
  body
    block content